body {
    margin: 0;
}
.navbar-container {
    display: flex;
    justify-content: center;
    background-color: #c0c0c0;
    width: 100%;
    position: fixed;
    top: 0;
}
.logo-li {
    list-style-type: none;
}
.search-li {
    list-style-type: none ;
}
.best-seller-container {
    margin-top: 2rem;
    padding: 2rem;
}
.best-seller-product {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 2rem;
    padding: 1rem;
}
.show-button {
    text-decoration: none;
    color: black;
    border: 0.1rem solid black;
    padding: 0.25rem;
    border-radius: 10rem;
    transition: 0.3s;
}
.product-container {
    border: 0.1rem solid #eee;
    padding: 15px;
    border-radius: 12px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    transition: 0.3s;
    display: flex;
    text-decoration: none;
    justify-content: space-between;
    min-height: 200px;
}
.product-container img {
    border-radius: 6px;
    transition: 0.3s;
    width: 75%;
    height: 200px;
    object-fit: cover;
}
.product-container img:hover {
    scale: 120%;
    transition: 0.3s;
    box-shadow: 0 8px 16px rgba(0, 255, 255, 0.3);
}
.product-container:hover {
    box-shadow: 0 8px 16px rgba(0,0,0,0.3);
    scale: 105%;
}
.product-button {
    text-decoration: none;
    color: black;
}